/*
!.gitignore
!/defaultoptions/
!/NoChatReports/
!/stack-to-nearby-chests/
!carryon-client.json
!carryon-common.json
!charm.toml
!DistantHorizons.toml
!emotecraft.json
!fabrictailor.json
!modmenu.json
!realisticsleep.json
!walk-jog-run.json
!walk-jog-run-client.json
!wands.json
!yigd.toml
!ambientsounds-client.json
!nethermap.toml
!pettable.json
!symbol-chat.json